rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /orders/{orderId} {
      allow read: if request.auth.uid == resource.data.user_id;
      allow write: if request.auth.uid == request.resource.data.user_id;
    }

    match /delivery-address/{addressId} {
      allow read: if request.auth.uid == resource.data.uuid;
      allow write: if request.auth.uid == request.resource.data.uuid;
    }

    match /pincode-checker/{pincode} {
      allow read: if true;
      allow write: if false;
    }

    match /product/{productId} {
      allow read: if true;
      allow write: if request.auth.uid != null;
      match /images/{imageId} {
        allow read: if true;
        allow write: if request.auth.uid != null;
      }
    }

    match /productVariant/{productVariantId} {
      allow read: if true;
      allow write: if request.auth.uid != null;
      match /images/{imageId} {
        allow read: if true;
        allow write: if request.auth.uid != null;
      }
    }

    match /category/{categoryId} {
      allow read: if true;
      allow write: if false;
    }

    match /color/{colorId} {
      allow read: if true;
      allow write: if false;
    }

    match /size/{sizeId} {
      allow read: if true;
      allow write: if false;
    }

    match /brand/{brandId} {
      allow read: if true;
      allow write: if request.auth.uid != null;
      match /privateData/{document=**} {
        allow read: if true;
        allow write: if request.auth.uid != null;
      }
    }

    match /brandUser/{brandId} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid == request.resource.data.uid;
    }

    match /userProfile/{userId} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid == request.resource.id;
    }

    match /{path=**}/subcategory/{subcategoryId} {
      allow read: if true;
      allow write: if false;
    }

    match /brandItem/{brandId} {
      allow read: if true;
      allow write: if request.auth.uid != null; 
      match /images/{document=**} {
        allow read: if true;
        allow write: if request.auth.uid != null;
      }
      match /variants/{variantId} {
        allow read: if true;
        allow write: if request.auth.uid != null;
      }
    }
  }
}